---
layout: layouts/base.njk
title: Episoden
metatitle: Episoden
---

<main class="episodes-content">
  <div class="wrapper">
    <div class="wrapper--small">
      <h1 class="title-1">Episoden</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At urna, in augue malesuada aliquam curabitur placerat hac. Dolor mauris scelerisque sit donec ut pretium pellentesque netus nulla.</p>
    </div>

    <section class="episodes">
      <div class="episodes-list">
        <div class="episodes-list-item episodes-list-item--latest">
          <a href="">
            <h3>SN017 Das letzte gute soziale Netzwerk</h3>
          </a>
          <span>
            <time>24.11.2020</time>
            <span>·</span> 
            <span>35 Minuten</span>
          </span>
          <p>Wir sprechen über die Netflix Dokumentation „The Social Dilemma“, die Gefahren persönlicher Algorithmen und unseren Umgang mit sozialen Medien.</p>
          <a href="#">Shownotes anzeigen</a>
        </div>
        <div class="episodes-list-item">
          <a href="">
            <h3>SN016 Es interessiert niemanden, was ich mir wünsche</h3>
          </a>
          <span>
            <time>24.11.2020</time>
            <span>·</span> 
            <span>35 Minuten</span>
          </span>
          <p>Unsere top 5 macOS Apps und warum wir native Apps Electron oder Catalyst vorziehen und was die Vor- und Nachteile der jeweiligen Technologien sind erfahrt ihr in dieser Episode.</p>
          <a href="#">Jetzt anhören</a>
        </div>
        <div class="episodes-list-item">
          <a href="">
            <h3>SN015 Der Kontrast und die Suche</h3>
          </a>
          <span>
            <time>24.11.2020</time>
            <span>·</span> 
            <span>35 Minuten</span>
          </span>
          <p>Jan hat ein neues iPhone, wir reden über gesattelte Bürostühle und sprechen über die Design-Änderungen von macOS Big Sur.</p>
          <a href="#">Jetzt anhören</a>
        </div>
      </div>
      <aside class="subscribe-sidebar">
        <h3>Abonnieren</h3>
        <ul>
          <li><a href="#">Apple Podcasts</a></li>
          <li><a href="#">Overcast</a></li>
          <li><a href="#">PocketCasts</a></li>
          <li><a href="#">Castro</a></li>
          <li><a href="#">RSS Feed</a></li>
        </ul>
      </aside>
    </section>
  </div>
</main>
