---
layout: layouts/default-page.njk
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: "{{ episode.title | wordpressPermalink }}/"
eleventyComputed:
  title: "Weiterleitung"
  redirectTo: "/episoden/{{ episode.number }}"

<p>Wenn dich dein Browser nicht weiterleitet, <a href="/episoden/{{ episode.number }}">klick hier</a>.</p>
