---
layout: episode.njk
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: "{{ episode.title | wordpressPermalink }}/"
eleventyComputed:
  title: "{{ episode.title }}"
  podlovePlayerEpisode: "{{ episode | dump | safe }}"
---
