---
layout: layouts/base.njk
metatitle: Home
eleventyNavigation:
  key: Home
  order: 1
eleventyComputed:
  podlovePlayerEpisodeNumber: "{{ (episodes | latestEpisode).number }}"
---

<main class="main-content">
	{% include "components/homepage/hero.njk" %}
	{% include "components/homepage/latest-episode.njk" %}
	{% include "components/homepage/teaser.njk" %}
	{% include "components/homepage/about.njk" %}
</main>
