---
layout: layouts/base.njk
metatitle: Home
eleventyNavigation:
  key: Home
  order: 1
---

<main class="main-content">
	<section class="hero">
    <div class="wrapper wrapper--small">
      <figure class="podcast-cover">
        <img src="/assets/images/cover_768.png" alt="" width="256" height="256">
      </figure>
      <h2 class="hero-title">Arne und Jan sprechen über Produktivität, Self-Improvement, Side-Projects und vieles mehr.</h2>
      <div class="hero-actions">
        <a class="button" href="/abonnieren">Abonnieren</a>
        <a class="button button--clean" href="/episoden">Alle Episoden</a>
      </div>
    </div>
  </section>
  <section class="latest-episode">
    <div class="section-title-divider">
      <div class="wrapper">
        <h2 class="section-title-text">Neuste Episode</h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="podcast-player"></div>
      <a class="button" href="#">Shownotes anzeigen</a>
    </div>
  </section>
  <section class="new-teaser">
    <div class="wrapper">
      <div class="new-teaser-grid">
        <div class="new-teaser-aside">
          <h2 class="title-3">Neu hier?</h2>
          <div class="body-big">
            <p>Um den Einstieg in unseren Podcast möglichst leicht zu gestalten, haben wir hier ein paar Empfehlungen für Dich!</p>
          </div>
        </div>
        <div class="new-teaser-recommendations">
          <ul class="new-teaser-list">
            <li class="new-teaser-item">
              <a href="/episoden/sn14">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" fill="#71717A"/>
                </svg>
                <h3 class="title-4">SN014 Ganz schön zettelig</h3>
              </a>
            </li>
            <li class="new-teaser-item">
              <a href="/episoden/sn12">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" fill="#71717A"/>
                </svg>
                <h3 class="title-4">SN012 NSMergeByPropertyObjectTrumpMergePolicy</h3>
              </a>
            </li>
            <li class="new-teaser-item">
              <a href="/episoden/sn7">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" fill="#71717A"/>
                </svg>
                <h3 class="title-4">SN007 Banking</h3>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about-us">
    <div class="section-title-divider">
      <div class="wrapper">
        <h2 class="section-title-text">Über Uns</h2>
      </div>
    </div>
    <div class="wrapper">
      <div class="about-us-intro body-big wrapper--small">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At urna, in augue malesuada aliquam curabitur placerat hac. Dolor mauris scelerisque sit donec ut pretium pellentesque netus nulla.</p>
      </div>
      <div class="podcast-members">
        <div class="podcast-member">
          <figure class="podcast-member__profile">
            <img src="assets/images/arne-bahlo.jpg" alt="" width="96" height="96">
          </figure>
          <h3 class="podcast-member__title title-4">Arne Bahlo</h3>
          <p class="podcast-member__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas nunc sed in ac, sit fames in facilisi. Adipiscing at auctor nullam id convallis amet feugiat tellus.</p>
        </div>
        <div class="podcast-member">
          <figure class="podcast-member__profile">
            <img src="assets/images/jan-fruechtl.jpg" alt="" width="96" height="96">
          </figure>
          <h3 class="podcast-member__title title-4">Jan Früchtl</h3>
          <p class="podcast-member__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas nunc sed in ac, sit fames in facilisi. Adipiscing at auctor nullam id convallis amet feugiat tellus.</p>
        </div>
      </div>
    </div>
  </section>
</main>
