*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.65;
  color: $color-white;
  background-color: $color-dark-level-0;
}

.main-content {
  padding-bottom: $spacing-large;
  
  @media (min-width: $breakpoint-medium) {
    padding-bottom: $spacing-giant;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 $spacing-small;
  max-width: 1192px;
}

.wrapper--small {
  max-width: 760px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
