html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.65;
  color: #FFFFFF;
  background-color: #000000;
}

.main-content {
  padding-bottom: 192px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1192px;
}

.wrapper--small {
  max-width: 760px;
}
