.title-1 {
  font-size: 3rem;
}

.title-2 {
  font-size: 2.5rem;
}

.title-3 {
  font-size: 1.75rem;
}

.title-4 {
  font-size: 1.25rem;
}

.body-big {
  font-size: 1.125rem;
  line-height: 1.65;
}

.body {
  font-size: 1rem;
  line-height: 1.65;
}

p {
  margin: 0 0 24px;
}
