$color-white: #FFFFFF;

$color-dark-level-0: #000000;
$color-dark-level-1: #18181B;
$color-dark-level-2: #27272A;

$color-brand-regular: #07C58F;

$color-text-dark: #808089;
$color-text: #A1A1A1;

$spacing-micro: 4px;
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-regular: 24px;
$spacing-medium: 48px;
$spacing-large: 96px;
$spacing-giant: 192px;

$border-radius-default: 6px;

$transition-default: all 0.2s ease-in-out;

$breakpoint-medium: 960px;
