.episode {
  padding: $spacing-medium 0 $spacing-large;
  
  @media (min-width: $breakpoint-medium) {
    padding: $spacing-large 0 $spacing-giant;
  }
}

.episode-header__title {
  margin: 0 0 $spacing-tiny;
}

.episode-content {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: $spacing-medium;
    grid-template-columns: repeat(3, 1fr);
  }
}

.episode-main {
  margin: 0 0 $spacing-medium;
  
  @media (min-width: $breakpoint-medium) {
    margin: 0;
    grid-column: span 2;
  }
}

.podlove-player {
  margin: 0 0 $spacing-medium;
  border-radius: $border-radius-default;
  overflow: hidden;

  iframe {
    display: block;
  }
}

.episode-shownotes-card {
  padding: $spacing-regular;
  background-color: $color-dark-level-1;
  border-radius: $border-radius-default;

  h2 {
    margin: 0 0 $spacing-tiny;
    font-size: 1.75rem;
  }

  ul, ol {
    padding: 0 0 0 $spacing-small;
    line-height: 2;
  }
}

.episode-shownotes-card__title {
  margin: 0 0 $spacing-regular;
}

.episode-sidebar {
  grid-column: span 1;
}
