.episodes-content {
  padding: $spacing-medium 0 $spacing-large;
  
  @media (min-width: $breakpoint-medium) {
    padding: $spacing-large 0 $spacing-giant;
  }
}

.episodes {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: $spacing-medium;
    grid-template-columns: repeat(3, 1fr);
  }
}

.episodes-intro-text {
  margin: 0 0 $spacing-medium;
}

.episodes-list {
  margin: 0 0 $spacing-medium;
  
  @media (min-width: $breakpoint-medium) {
    margin: 0;
    grid-column: span 2;
  }
}

.episodes-list-item {
  margin-bottom: $spacing-regular;
  padding: $spacing-regular;
  background-color: $color-dark-level-1;
  border-radius: $border-radius-default;

  &:last-child {
    margin: 0;
  }
}

.episodes-item-title-link {
  display: block;
  margin-bottom: $spacing-micro;
  color: $color-white;
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
  }
}

.episodes-item-title {
  line-height: 1.35;
  word-wrap: break-word;
}

.episodes-item-details {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: $color-text-dark;
}

.episodes-item-more-link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: $color-white;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    svg {
      fill: $color-white;
    }
  }

  svg {
    position: relative;
    top: 1px;
    fill: $color-text-dark;
  }
}

.subscribe-sidebar {
  @media (min-width: 960px) {
    grid-column: span 1;
  }
}
