.latest-episode {
  margin-bottom: 96px;
}

.new-teaser {
  margin-bottom: 96px;
  padding: 96px 0;
  background: #18181B;
}

.new-teaser-grid {

  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.new-teaser-aside {
  grid-column: span 4;
}

.new-teaser-recommendations {
  grid-column: span 8;
}

.new-teaser-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-teaser-item {
  margin: 0 0 16px;

  &:last-child {
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    color: #FFFFFF;
    background-color: #27272A;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
    
    &:hover, &:focus {
      border: 2px solid #FFFFFF;
    }
  }

  svg {
    margin-right: 12px;
    flex: 0 0 24px;
  }

  h3 {
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
  }
}

.about-us-intro {
  margin-bottom: 48px;
  color: var(--text-color);
}

.podcast-members {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.podcast-member {
  margin: 0 0 24px;
  padding: 24px;
  background-color: #18181B;
  border-radius: 6px;
  
  @media (min-width: $breakpoint-medium) {
    margin: 0;
    padding: 32px;
  }
}

.podcast-member__profile {
  margin: 0 0 24px;

  img {
    border-radius: 6px;
  }
}

.podcast-member__title {
  margin: 0 0 8px;
}

.podcast-member__text {
  color: var(--text-color);
}
