.latest-episode {
  margin-bottom: $spacing-large;
}

.new-teaser {
  margin-bottom: $spacing-large;
  padding: $spacing-large 0;
  background: $color-dark-level-1;
}

.new-teaser-grid {

  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: $spacing-medium;
    grid-template-columns: repeat(12, 1fr);
  }
}

.new-teaser-aside {
  grid-column: span 4;
}

.new-teaser-aside-title {
  margin: 0 0 $spacing-tiny;
}

.new-teaser-recommendations {
  grid-column: span 8;
}

.new-teaser-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-teaser-item {
  margin: 0 0 $spacing-small;

  &:last-child {
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    padding: $spacing-regular $spacing-small;
    color: $color-white;
    background-color: $color-dark-level-2;
    border: 2px solid transparent;
    border-radius: $border-radius-defaukt;
    text-decoration: none;
    
    &:hover, &:focus {
      border: 2px solid $color-white;
    }
  }

  svg {
    margin-right: $spacing-tiny;
    flex: 0 0 $spacing-regular;
  }

  h3 {
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
  }
}

.about-us-intro {
  margin-bottom: $spacing-medium;
  color: $color-text;
}

.podcast-members {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    column-gap: $spacing-medium;
    grid-template-columns: repeat(2, 1fr);
  }
}

.podcast-member {
  margin: 0 0 $spacing-regular;
  padding: $spacing-regular;
  background-color: $color-dark-level-1;
  border-radius: $border-radius-defaukt;
  
  @media (min-width: $breakpoint-medium) {
    margin: 0;
  }
}

.podcast-member__profile {
  margin: 0 0 $spacing-regular;

  img {
    border-radius: $border-radius-defaukt;
  }
}

.podcast-member__title {
  margin: 0 0 $spacing-tiny;
}

.podcast-member__text {
  color: $color-text;
}

.podcast-member__social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.podcast-member__social-item {
  margin: 0 0 0 $spacing-small;

  &:first-child {
    margin: 0;
  }
}
