.page-content--default {
  h3, h4 {
    margin: 0 0 $spacing-regular;
    color: $color-white;
  }

  h4 {
    margin: 0 0 $spacing-tiny;
  }
}

.page-content {
  padding: $spacing-medium 0 $spacing-large;
  
  @media (min-width: $breakpoint-medium) {
    padding: $spacing-large 0 $spacing-giant;
  }
}

.page-title {
   margin: 0 0 $spacing-small;
}
