.button {
  display: inline-block;
  padding: $spacing-tiny $spacing-regular;
  color: $color-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: 0.0125rem;
  text-decoration: none;
  background: linear-gradient(102.71deg, #047857 -38.16%, #0E7490 167.39%);
  border-radius: $border-radius-defaukt;
  border: 2px solid transparent;
  
  &:hover, &:focus {
    border: 2px solid $color-white;
    text-decoration: none;
  }
}

.button--clean {
  color: $color-text;
  background: transparent;

  &:hover, &:focus {
    color: $color-white;
  }
}
