.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: $spacing-medium 0 $spacing-large;
  text-align: center;
  background: $color-dark-level-0 url("/assets/images/hero-background.png");

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72%, $color-dark-level-0 100%);
  }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  @media (min-width: $breakpoint-medium) {
    padding: 0;
    height: 800px;
  }
}

.podcast-cover {
  display: flex;
  justify-content: center;
  margin: 0 0 $spacing-medium;

  img {
    display: block;
  }
}

.hero-title {
  margin: 0 0 $spacing-medium;
  font-size: 28px;
  font-weight: 800;
  
  @media (min-width: $breakpoint-medium) {
    font-size: 40px;
  }
}

.hero-actions {
  display: flex;
  justify-content: center;

  .button--clean {
    margin-left: $spacing-small;
    
    @media (min-width: $breakpoint-medium) {
      margin-left: $spacing-regular;
    }
  }
}
