.host-card {
  margin-bottom: $spacing-medium;
  padding: $spacing-regular;
  background-color: $color-dark-level-1;
  border-radius: $border-radius-default;
}

.host-card-title {
  margin-bottom: $spacing-small;
}

.host-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.host-person {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-regular;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.host-image {
  display: block;
  margin-right: $spacing-small;
  border-radius: $border-radius-default;
}

.host-name {
  font-size: 1rem;
  line-height: 1.25;
}

.host-handle {
  font-size: 0.875rem;
  line-height: 1.25;
  color: $color-text;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
