.site-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: $spacing-regular $spacing-small 0 $spacing-small;
  
  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-medium;
    height: 64px;
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(102.71deg, rgba(4, 120, 87, 0.24) -38.16%, rgba(14, 116, 144, 0.24) 167.39%);
  }
}

.site-title {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  
  @media (min-width: $breakpoint-medium) {
    position: absolute;
    margin: 0;
    left: $spacing-medium;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.site-navigation {
  width: 100%;
  overflow-x: auto;

  @media (min-width: $breakpoint-medium) {
    width: auto;
    overflow-x: initial;
  }
}

.site-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: $spacing-small;
    height: 64px;
    
    @media (min-width: $breakpoint-medium) {
      margin-left: $spacing-regular;
    }

    &:first-child {
      margin: 0;
    }

    &:last-child {
      @media (min-width: $breakpoint-medium) {
        display: none;
      }
    }
    
    &::before {
      margin: 0;
    }
  }
}

.site-navigation__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $color-text;
  text-decoration: none;
  
  &:hover, &:focus {
    color: $color-white;
    text-decoration: none;
  }
}

.site-navigation__link--active {
  color: $color-white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    background: linear-gradient(102.71deg, #047857 -38.16%, #0E7490 167.39%);
  }
}

.site-header .site-header__cta {
  display: none;
  @media (min-width: $breakpoint-medium) {
    position: absolute;
    display: block;
    right: $spacing-medium;
  }
}
