.site-footer {
  padding-bottom: $spacing-medium;
  
  @media (min-width: $breakpoint-medium) {
    padding-bottom: $spacing-large;
  }
}

.site-footer-content {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-nav__list {
  display: flex;
  margin: 0 0 $spacing-regular 0;
  padding: 0;
  list-style: none;
  
  @media (min-width: $breakpoint-medium) {
    margin: 0;
  }
}

.footer-nav__list-item {
  margin: 0 0 0 $spacing-regular;

  &:first-child {
    margin: 0;
  }
}
