.subscribe-card {
  padding: $spacing-regular;
  background-color: $color-dark-level-1;
  border-radius: $border-radius-default;
}

.subscribe-card-title {
  margin-bottom: $spacing-small;
}

.subscribe-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscribe-item {
  margin-bottom: $spacing-small;
  font-weight: 600;
  
  &:last-child {
    margin: 0;
  }
}

.subscribe-link {
  display: flex;
  align-items: center;
  padding: $spacing-tiny $spacing-small;
  color: $color-text;
  background-color: $color-dark-level-2;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: $border-radius-default;

  &:hover, &:focus {
    color: $color-white;
    border: 2px solid $color-white;
    text-decoration: none;
    transition: $transition-default;
  }
}

.subscribe-icon {
  margin-right: $spacing-small;
  border-radius: 50%;
}
