<div class="host-card">
  <h3 class="host-card-title title-4">Hosts</h3>
  <ul class="host-list">
    <li class="host-person">
      <img class="host-image" src="/assets/images/arne-bahlo.jpg" width="48" height="48" alt="">
      <div class="host-content">
        <h3 class="host-name">Arne Bahlo</h3>
        <a class="host-handle" href="https://twitter.com/arnebahlo">@arnebahlo</a>
      </div>
    </li>
    <li class="host-person">
      <img class="host-image" src="/assets/images/jan-fruechtl.jpg" width="48" height="48" alt="">
      <div class="host-content">
        <h3 class="host-name">Jan Früchtl</h3>
        <a class="host-handle" href="https://twitter.com/_coolcut">@_coolcut</a>
      </div>
    </li>
  </ul>
</div>
