<div class="host-card">
  <h3 class="host-card-title title-4">Hosts</h3>
  <ul class="host-list">
    <li class="host-person">
      <img  class="host-image"
            srcset="/assets/images/optimized/arne-bahlo-48px.jpg 48w,
                    /assets/images/optimized/arne-bahlo-96px.jpg 96w,
                    /assets/images/optimized/arne-bahlo-192px.jpg 192w,
                    /assets/images/optimized/arne-bahlo-256px.jpg 256w,
                    /assets/images/optimized/arne-bahlo-512px.jpg 512w,
                    /assets/images/optimized/arne-bahlo-1024px.jpg 1024w"
            sizes="48px"
            src="/assets/images/optimized/arne-bahlo-48px.jpg"
            alt="Profilbild von Arne Bahlo"
            width="48"
            height="48">
      <div class="host-content">
        <h3 class="host-name">Arne Bahlo</h3>
        <a class="host-handle" href="https://twitter.com/arnebahlo">@arnebahlo</a>
      </div>
    </li>
    <li class="host-person">
      <img  class="host-image" 
            srcset="/assets/images/optimized/jan-fruechtl-48px.jpg 48w,
                    /assets/images/optimized/jan-fruechtl-96px.jpg 96w,
                    /assets/images/optimized/jan-fruechtl-192px.jpg 192w,
                    /assets/images/optimized/jan-fruechtl-256px.jpg 256w,
                    /assets/images/optimized/jan-fruechtl-512px.jpg 512w"
            sizes="48px"
            src="/assets/images/optimized/jan-fruechtl-48px.jpg"
            alt="Profilbild von Jan Früchtl"
            width="48"
            height="48">
      <div class="host-content">
        <h3 class="host-name">Jan Früchtl</h3>
        <a class="host-handle" href="https://twitter.com/_coolcut">@_coolcut</a>
      </div>
    </li>
  </ul>
</div>
