{% if podlovePlayerEpisode %}
<script src="/podlove-web-player/embed.js"></script>
<script>
  window
    .podlovePlayer('#podlove-player', {{ podlovePlayerEpisode | safe }}, {{ podloveWebPlayerConfig | dump | safe }})
    .then(console.log);
</script>
{% endif %}
