<header class="site-header">
	<h1 class="site-title"><a alt="Home" href="/">Sprachnachrichten</a></h1>
	<nav class="site-navigation">
		<ul class="site-navigation__list">
			{% set navPages = collections.all | eleventyNavigation %}
			{%- for entry in navPages %}
			<li>
				<a class="site-navigation__link {% if entry.url == page.url %}site-navigation__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
			</li>
			{%- endfor %}
		</ul>
	</nav>
	<a class="button button--small site-header__cta" href="/abonnieren">Abonnieren</a>
</header>

<div class="banner-notice">
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
	<p>Wir haben uns dazu entschieden, Sprachnachrichten zu beenden und keine weiteren Episoden mehr zu veröffentlichen. Dieses kleine Podcastprojekt hat uns über 50 Episoden viel Spaß und Freude bereitet. Vielen Dank an alle Zuhörer:innen für den Support, Homescreen-Einsendungen und vieles mehr! Wir werden die Website und Episoden aus Nostalgie so lange wie möglich weiter zur Verfügung stellen.</p>
</div>