<header class="site-header">
	<h1 class="site-title">Sprachnachrichten</h1>
	<nav class="site-navigation">
		<ul class="site-navigation__list">
			<li>
				<a class="site-navigation__link site-navigation__link--active" href="/">Home</a>
				</li>
			<li>
				<a class="site-navigation__link" href="/episoden">Episoden</a>
				</li>
			<li>
				<a class="site-navigation__link" href="/feedback">Feedback</a>
				</li>
		</ul>
	</nav>
	<a class="button button--small site-header__cta" href="/abonnieren">Abonnieren</a>
</header>
