<div class="subscribe-card">
  <h3 class="subscribe-card-title title-4">Abonnieren</h3>
  <ul class="subscribe-list">
    {% for item in subscribe %}
    <li class="subscribe-item">
      <a class="subscribe-link" href="{{ item.link }}">
        <img class="subscribe-icon" src="/assets/images/subscribe/{{ item.imageSrc }}" width="24" height="24" alt="">
        <span>{{ item.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
