<div class="subscribe-card">
  <h3 class="subscribe-card-title title-4">Abonnieren</h3>
  <ul class="subscribe-list">
    <li class="subscribe-item">
      <a class="subscribe-link" href="#">
        <img class="subscribe-icon" src="/assets/images/subscribe/apple-podcasts.svg" width="24" height="24" alt="">
        <span>Apple Podcasts</span>
      </a>
    </li>
    <li class="subscribe-item">
      <a class="subscribe-link" href="#">
        <img class="subscribe-icon" src="/assets/images/subscribe/overcast.svg" width="24" height="24" alt="">
        <span>Overcast</span>
      </a>
    </li>
    <li class="subscribe-item">
      <a class="subscribe-link" href="#">
        <img class="subscribe-icon" src="/assets/images/subscribe/pocketcasts.svg" width="24" height="24" alt="">
        <span>PocketCasts</span>
      </a>
    </li>
    <li class="subscribe-item">
      <a class="subscribe-link" href="#">
        <img class="subscribe-icon" src="/assets/images/subscribe/castro.svg" width="24" height="24" alt="">
        <span>Castro</span>
      </a>
    </li>
    <li class="subscribe-item">
      <a class="subscribe-link" href="#">
        <img class="subscribe-icon" src="/assets/images/subscribe/rss-feed.svg" width="24" height="24" alt="">
        <span>RSS Feed</span>
      </a>
    </li>
  </ul>
</div>
