---
layout: layouts/base.njk
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: "episoden/{{ episode.number }}/"
---

<main class="episode">
  <div class="wrapper">
    <section class="episode-header">
      <div class="wrapper--small">
        <h2 class="title-2 episode-header__title">{{ episode.title }}</h2>
        <span class="episodes-item-details">
          <time>{{ episode.publicationDate | formatDate }}</time>
          <span>·</span> 
          <span>{{ episode.duration | formatDuration }}</span>
        </span>
        <p class="body-big text-gray">{{ episode.summary }}</p>
      </div>
    </section>
    <section class="episode-content">
      <div class="episode-main">
        <div id="podlove-player" class="podlove-player"></div>
        <div class="episode-shownotes">
          <div class="episode-shownotes-card">
            <h3 class="title-2 episode-shownotes-card__title">Shownotes</h3>
            {{ episode.content | safe }}
          </div>
        </div>
      </div>
      <aside class="episode-sidebar">
        {% include "components/hosts.njk" %}
        {% include "components/subscribe-box.njk" %}
      </aside>
    </section>
  </div>
</main>

<script src="/podlove-web-player/embed.js"></script>
<script>
  window
    .podlovePlayer('#podlove-player', '/episoden/{{ episode.number }}.json', '/podlove-web-player-config.json')
    .then(console.log);
</script>

