---
layout: layouts/base.njk
title: Episoden
metatitle: Episoden
eleventyNavigation:
  key: Episoden
  order: 2
---

<main class="episodes-content">
  <div class="wrapper">
    <div class="wrapper--small">
      <h2 class="title-1 page-title">Episoden</h2>
      <div class="episodes-intro-text body-big text-gray">
        <p>Hier findest Du alle unsere bisher veröffentlichten Episoden. Du kannst jede der Episoden entweder  direkt hier auf der Website hören, oder den Podcast am besten einfach direkt in einer deiner <a href="/abonnieren">favorisierten Podcast-Apps abonnieren</a> - so verpasst du niemals mehr eine neue Episode.</p>
      </div>
    </div>

    <section class="episodes">
      <div class="episodes-list">
        {% for episode in episodes %}
        <div class="episodes-list-item {% if episode.isLatest %}episodes-list-item--latest{% endif %}">
          <a class="episodes-item-title-link" href="/episoden/{{ episode.number | slug}}">
            <h3 class="episodes-item-title title-3">{{ episode.title }}</h3>
          </a>
          <span class="episodes-item-details">
            <time>{{ episode.publicationDate | formatDate }}</time>
            <span>·</span> 
            <span>{{ episode.duration | formatDuration }}</span>
          </span>
          <p class="text-gray body-big">{{ episode.subtitle }}</p>
          <a class="episodes-item-more-link" href="/episoden/{{ episode.number | slug}}">
            <span>Shownotes anzeigen</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.99997 6L8.58997 7.41L13.17 12L8.58997 16.59L9.99997 18L16 12L9.99997 6Z" />
            </svg>
          </a>
        </div>
        {% endfor %}
      </div>
      <aside class="subscribe-sidebar">
        {% include "components/subscribe-box.njk" %}
      </aside>
    </section>
  </div>
</main>
