<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or metatitle }}</title>
	<meta name="description" content="{{ renderData.description or description or metadata.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:creator" content="" />
	
	<meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
  <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
  <meta name="twitter:title" content="{{ renderData.title or title or metadata.title }}">
  <meta name="twitter:description" content="{{ renderData.description or description or metadata.description }}">
  
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <style>{% include "css/main.css" %}</style>
</head>
<body>
  {% include "components/site-header.njk" %}
  {{ content | safe }}
  {% include "components/site-footer.njk" %}
</body>
</html>
