---
layout: layouts/base.njk
---

<main class="page-content page-content--default">
  <div class="wrapper">
    <h2 class="page-title title-1">{{ title }}</h2>
    <div class="body-big text-gray wrapper--small">
      {{ content | safe }}
    </div>
  </div>
</main>
