---
layout: layouts/base.njk
---

<main class="episode">
  <div class="wrapper">
    <section class="episode-header">
      <div class="wrapper--small">
        <h2 class="title-2">SN017 Das letzte gute soziale Netzwerk</h2>
        <span class="episodes-item-details">
          <time>24.11.2020</time>
          <span>·</span> 
          <span>35 Minuten</span>
        </span>
        <div class="text-gray">
          <p>Wir sprechen über die Netflix Dokumentation „The Social Dilemma“, die Gefahren persönlicher Algorithmen und unseren Umgang mit sozialen Medien.</p>
        </div>
      </div>
    </section>
    <section class="episode-content">
      <div class="episode-shownotes">
        <div class="episode-shownotes-card">
          <h3 class="title-3">Shownotes</h3>
          {{ content | safe }}
        </div>
      </div>
      <aside class="episode-sidebar">
        {% include "components/hosts.njk" %}
        {% include "components/subscribe-box.njk" %}
      </aside>
    </section>
  </div>
</main>
