<section class="hero">
  <div class="wrapper wrapper--small">
    <figure class="podcast-cover">
      <img src="/assets/images/cover_768.png" alt="" width="256" height="256">
    </figure>
    <h2 class="hero-title">Arne und Jan sprechen über Produktivität, Self-Improvement, Side-Projects und vieles mehr.</h2>
    <div class="hero-actions">
      <a class="button" href="/abonnieren">Abonnieren</a>
      <a class="button button--clean" href="/episoden">Alle Episoden</a>
    </div>
  </div>
</section>
