<section class="hero">
  <div class="wrapper wrapper--small">
    <figure class="podcast-cover">
      <img
        srcset="/assets/images/optimized/cover-96px.png 96w, 
                /assets/images/optimized/cover-192px.png 192w, 
                /assets/images/optimized/cover-256px.png 256w, 
                /assets/images/optimized/cover-512px.png 512w"
        src="/assets/images/optimized/cover-512px.png"
        alt="Podcastcover vom Podcast Sprachnachrichten"
        width="256"
        height="256">
    </figure>
    <div class="hero-content">
      <h2 class="hero-title">{{ site.slogan }}</h2>
    </div>
    <div class="hero-actions">
      <a class="button" href="/episoden">Alle Episoden</a>
      <a class="button button--clean" href="/abonnieren">Abonnieren</a>
    </div>
  </div>
</section>
