<section class="latest-episode">
  <div class="section-title-divider">
    <div class="wrapper">
      <h2 class="section-title-text">Neuste Episode</h2>
    </div>
  </div>
  <div class="wrapper">
    <div class="podcast-player"></div>
    <a class="button" href="#">Shownotes anzeigen</a>
  </div>
</section>
