{% set episode = episodes | latestEpisode %}
<section class="latest-episode">
  <div class="section-title-divider">
    <div class="wrapper">
      <h2 class="section-title-text">Neuste Episode</h2>
    </div>
  </div>
  <div class="wrapper">
    {% include "components/podlove-web-player.njk" %}
    <a class="button" href="/episoden/{{ episode.number }}">Shownotes anzeigen</a>
  </div>
</section>
