<section class="new-teaser">
  <div class="wrapper">
    <div class="new-teaser-grid">
      <div class="new-teaser-aside">
        <h2 class="title-3 new-teaser-aside-title">Neu hier?</h2>
        <div class="body-big text-gray">
          <p>Um den Einstieg in unseren Podcast möglichst leicht zu gestalten, haben wir hier ein paar Empfehlungen für Dich!</p>
        </div>
      </div>
      <div class="new-teaser-recommendations">
        <ul class="new-teaser-list">
          <li class="new-teaser-item">
            <a href="/episoden/14">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" />
              </svg>
              <h3 class="title-4">SN014 Ganz schön zettelig</h3>
            </a>
          </li>
          <li class="new-teaser-item">
            <a href="/episoden/12">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" />
              </svg>
              <h3 class="title-4">SN012 NSMergeByPropertyObjectTrumpMergePolicy</h3>
            </a>
          </li>
          <li class="new-teaser-item">
            <a href="/episoden/7">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM9.5 16.5V7.5L16.5 12L9.5 16.5Z" />
              </svg>
              <h3 class="title-4">SN007 Banking</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
