<section class="new-teaser">
  <div class="wrapper">
    <div class="new-teaser-grid">
      <div class="new-teaser-aside">
        <h2 class="title-3 new-teaser-aside-title">Neu hier?</h2>
        <div class="body-big text-gray">
          <p>Um den Einstieg in unseren Podcast möglichst leicht zu gestalten, haben wir hier ein paar Empfehlungen für Dich!</p>
        </div>
      </div>
      <div class="new-teaser-recommendations">
        <ul class="new-teaser-list">
          {% for item in teaser %}
          <li class="new-teaser-item">
            <a href="/episoden/{{ item.episodeId }}">
              {% include "components/svg/play.njk" %}
              <h3 class="title-4">{{ item.title }}</h3>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
